<div id="question">

  <!-- Question Title -->
  <div class="container">
    <div class="col-md-12 column">

      <div class="page-header">
        <h1>Question:
          <div class="text-center">
            <small><span>{{question}}</span></small>
          </div>
        </h1>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="col-md-12 column text-center">

      <!--  Press to Re-record -->
      <!-- <a href="/question" ng-show="processInterview"> -->
        <button class="btn btn-primary"
          ng-show="processInterview"
          ng-click="changeProcessInterviewStatus(); changeInterviewStatus()">Re-record</button>
      <!-- </a> -->

      <!--  Press to Return to Deck video -->
      <a href="/interview" ng-show="processInterview">
        <button class="btn btn-primary">Disregard Video</button>
      </a>
      
      <!--  Press to Share video -->
      <a href="/share" ng-show="processInterview">
        <button class="btn btn-primary">Save & Share</button>
      </a>


      <div class="row clearfix" ng-show="processInterview">
        <span>&nbsp;</span>
      </div>

    </div>
  </div>



  <div class="container" ng-hide="processInterview">
    <div class="col-md-12 column text-center">
      <div><span id="userAlert">{{alertUser}}</span></div>

      <div class="row clearfix">
        <span>&nbsp;</span>
      </div>


    </div>
  </div>

  <!-- Video container -->
  <div class="container">
    <div class="col-md-12 column text-center">

      <div id="video-box">
        <video class="video-panel" id="video-record"></video>
      </div>

    </div>
  </div>

  <div class="row clearfix">
    <span>&nbsp;</span>
  </div>

  <div class="container">
    <div class="col-md-12 column text-center">
      <div class="row clearfix">
        <!-- <button id="btn-start-recording" class="btn btn-success"
          ng-click="startRecording();">Begin Interview</button> -->
        <button id="btn-stop-recording" class="btn btn-danger" disabled
          ng-click="stopRecording()" ng-hide="processInterview">Stop Recording</button>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <span>&nbsp;</span>
  </div>

</div>
