.navbar-default {
  background-color: #535353;
}


#navbar .navbar-text, #navbar li a {
  font-size: 19px;
  color: #f0f3f6;
}

#navbar li a:hover {
  color: #BDBBB2;
}

.navbar-default .navbar-nav > .active > a {
  color: #777777 !important;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #555555 !important;
}
