<div class="col-md-12">
Great! <a href="/home">Go back home</a>
</div>
<div class="container">
	<div class="row clearfix">
			<div class="col-md-3 column">
		</div>
		<div class="col-md-6 column">
			<h2>
				Share Your Interview
			</h2>
			<p>
				<b>Interview:</b> <em>Facebook Tech Lead Interview 1 </em>
			</p>
			<p>
				Share with people via email:
			</p>
			<form role="form">
				<div class="form-group">
					 <label for="exampleInputEmail1">Email address</label>
					 <textarea style="width:100%" placeholder="alan.turing@enigma.com,"></textarea>
				</div>
				<p>
					<a class="btn" ng-click="toggleNote()">Add Personal Note »</a>
				</p>
				<div ng-show="showNote" class="form-group">
					 <textarea rows="5" style="width:100%" placeholder="Hey, would you have a minute to review my interview video? Thanks!"></textarea>
				</div>
				 <button ng-click="showModal()" class="btn btn-default">Share</button>
			</form>
		</div>
		<div class="col-md-3 column">
		</div>
	</div>
</div>
