
<div class="container">
	<div class="row clearfix">
			<div class="col-md-3 column">
		</div>
		<div class="col-md-6 column">
			<h2>
				Share Your Interview
			</h2>
			<p>
				<b>Interview:</b> <em>Facebook Tech Lead Interview 1 </em>
			</p>
			<p>
				Share with people via email:
			</p>
			<form role="form">
				<div class="form-group">
					 <label for="exampleInputEmail1">Email address</label>
					 <textarea style="width:100%" id="invitees" ng-model="invitees" placeholder="alan.turing@enigma.com,"></textarea>
				</div>


    <!-- Single button drop down list -->
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" >
        <li ng-repeat="user in allUsers" ng-click="addToInvites(user.name)">{{user.name}}</li>
      </ul>
    </div>

	<p>
		<a class="btn" ng-click="toggleNote()">Add Personal Note »</a>
	</p>
	<div ng-show="showNote" class="form-group">
		 <textarea rows="5" style="width:100%" placeholder="Hey, would you have a minute to review my interview video? Thanks!" ng-model="specialNote"></textarea>
	</div>
	<button ng-click="processInvites()"  class="btn btn-primary btn-default">Share</button>
	</form>
	</div>
	<div class="col-md-3 column">
	</div>
	</div>

<!-- confirmation modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>

      <div class="modal-body">
			Congratulations - you shared your review with: {{invitees}}
			<div> <em>{{specialNote}}</em></div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="gotoHome()">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- end modal -->
</div>
