<div ng-include="'components/navbar/navbar.html'"></div>

<div id="home">
  <div id="container-header" class="container">
    <div class="row clearfix">
      <div class="col-sm-12 column">

        <div class="page-header text-center">
          <h1><i>i PitchPerfect</i></h1>
        </div>

      </div>
    </div>
  </div>

  <div  id="container-body" class="container">
  		<div class="col-sm-6 column">


        <!-- SUBMIT DECK -->
        <div class="panel panel-info" ng-show="submitBox">
          <div class="panel-heading text-center">
            <button type="button" class="close" ng-click="toggleSubmitBoxAppear()">x</button>
            <h3 class="panel-title">Submit a New Interview Deck</h3>
          </div>

          <div class="panel-body">
            <div class="row clearfix">
              <span>&nbsp;</span>
            </div>

            <!--  DECKS FORM -->
            <div class="list-group">

              <form role="form" ng-submit='submitNewDeck(newDeckTitle, newDeckDescription, qTitle1, qTitle2)'>

                <div class="form-group">
                  <label for="deck-title">Title</label>
                  <input id="deck-title" type="value" class="form-control" ng-model="newDeckTitle">
                </div>

                <div class="form-group">
                  <label for="deck-description">Description</label>
                  <input type="value" class="form-control" id="deck-description" ng-model="newDeckDescription"/>
                </div>

                <div class="form-group">
                  <label for="q-title1">Question 1</label>
                  <input id="q-title1" type="value" class="form-control" ng-model="qTitle1">
                </div>

                <div class="form-group">
                  <label for="q-title2">Question 2</label>
                  <input id="q-title2" type="value" class="form-control" ng-model="qTitle2">
                </div>

                <button class="btn btn-default" type="submit">Submit</button>

              </form>
            </div>

          </div>

        </div>


        <!-- SELECT INTERVIEW DECK PANEL -->
        <div class="panel panel-info">
          <div class="panel-heading text-center">
            <button type="button" class="close" ng-click="toggleSubmitBoxAppear()">+</button>
            <h3 class="panel-title">Select an Interview Deck</h3>
          </div>


          <div class="panel-body">

            <div class="input-group">
              <span class="input-group-btn">
                <input type="text" class="form-control" ng-model="deckSearch" placeholder="Search Interview Decks">
              </span>
            </div>
            <div class="row clearfix">
              <span>&nbsp;</span>
            </div>


            <!--  DECKS LIST -->
            <div class="list-group">
              <div ng-repeat="singleDeck in allDecks | filter: {title:deckSearch}">
                <div class="list-group-item" ng-click="sendToInterview(singleDeck, false)">
                  <h5>{{ singleDeck.title }}</h5>
                  <span class="small">{{singleDeck.description}}</span>
                  <small class="small faint">Last Updated: {{singleDeck.updatedAt | date : 'mediumDate'}}</small>
                </div>
              </div>
        		</div>


          </div>
        </div>

      </div>




  		<div class="col-sm-6 column">
        <!-- REVIEW REQUESTS -->
        <div class="panel panel-success" ng-if="reviews.length > 0">

          <div class="panel-heading text-center">
            <h3 class="panel-title">Peer Videos to Review</h3>
          </div>


          <div class="panel-body">

            <!--  NOTIFICATION LIST -->
            <div class="list-group">
              <div ng-repeat="review in reviews">
                <div class="list-group-item" ng-click="sendToReview(review)">
                  <h5>Request from: {{ review.userId.name }}</h5>
                  <!-- <span class="small">{{review.title}}</span> -->
                  <small class="small faint">Last Updated: {{review.updatedAt | date : 'mediumDate'}}</small>
                </div>
              </div>

            </div>
          </div>
        </div>



        <!-- USER DECKS -->
        <div class="panel panel-success">

          <div class="panel-heading text-center">
            <h3 class="panel-title">My Interviews</h3>
          </div>


          <div class="panel-body">

            <div class="input-group">
              <span class="input-group-btn">
                <input type="text" class="form-control" ng-model="deckUserSearch" placeholder="Search Interview Decks">
              </span>
            </div>
            <div class="row clearfix">
              <span>&nbsp;</span>
            </div>


            <!--  USERDECKS LIST -->
            <div class="list-group">
              <div ng-repeat="singleUserDeck in allUserDecks | filter: {title: deckUserSearch}">
                <div class="list-group-item" ng-click="sendToInterview(singleUserDeck, true)">
                  <h5>{{ singleUserDeck.title }}</h5>
                  <span class="small">{{singleUserDeck.description}}</span>
                  <small class="small faint">Last Updated: {{singleUserDeck.updatedAt | date : 'mediumDate'}}</small>
                </div>
              </div>

            </div>
          </div>
        </div>

  	</div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
