#home .page-header {
  border-top: 10px;
  border-bottom: none;
  margin-bottom: 0px;
}

#home input {
  border-radius: 4px;
}



#home #container-header {
  margin-bottom: 20px;
  background-color: #F5F4F2;//#F5F4EF;//#FAF9F4;
}

#home h1 {
  color:  #C2580C;
  font-size: 50px;
  margin-bottom: 40px;
}

#home .panel-success, #home .panel-info {
  border-color: transparent;
}

#home .panel-success .panel-heading, #home .panel-info .panel-heading {
  border-color: transparent;
  background-color: #336666;
}
#home .panel-success .panel-body, #home .panel-info .panel-body {
  background-color: #669999;
}

#home .panel-success .panel-title, #home .panel-info .panel-title {
  color: white;
  font-size: 20px;
}

#home .list-group-item {
  background-color: #F5F4F2;//#F5F4EF;//#FAF9F4;
}

#home .list-group-item:hover {
  background-color:  #D5D5D5;//#D6D4CB;
}

#home #container-body {
  padding-top: 20px;
  background-color: #F5F4F2;//#F5F4EF;//#FAF9F4;
}
