<div ng-include="'components/navbar/navbar.html'"></div>

<div id="review-create">

    <!-- Question Title -->
    <div class="container">
        <div class="col-md-12 column">

            <div class="page-header">
                <h1>Question:
                    <div class="text-center">
                        <small>
                            <span>{{question}}</span>
                        </small>

                    </div>
                </h1>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="col-md-12 column text-center">
            <div class="row clearfix">

                <!-- <button id="btn-start-recording" class="btn btn-info" ng-click="pauseRecording(); changeProcessInterviewStatus(); changeInterviewStatus();">Annotate</button> -->

                <button id="btn-save-recording" class="btn btn-success" ng-click="saveReview();">Done</button>
                <!-- route to /share -->
                <br />
            </div>

            <div class="row clearfix" ng-show="processInterview">
                <span>&nbsp;</span>
            </div>

        </div>
    </div>



    <div class="container" ng-hide="processInterview">
        <div class="col-md-12 column text-center">
            <div>
                <span id="userAlert">{{alertUser}}</span>
            </div>

            <div class="row clearfix">
                <span>&nbsp;</span>
            </div>

        </div>
    </div>

    <!-- see userDeck List in /home for how to add list of annotations -->

    <!-- Video container -->
    <div class="container">
        <div class="col-md-6 column text-center">

            <div id="video-box">
                <video class="video-panel" id="video-response" controls ng-src="{{url}}" type="video/webm">

                </video>
            </div>
        </div>

        <div class="col-md-6 column text-center">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="text" id="annotationText" class="form-control" placeholder="Add Your Comment" ng-Click="addAnnotation()" ng-model="annotationText" ip-Enter="saveAnnotation(annotationText)">
                </span>
            </div>

            <!--  ANNOTATIONS LIST-->
            <div class="list-group">
                <div ng-repeat="singleAnnotation in allAnnotations">
                    <div class="list-group-item text-left" ng-click="playAnnotation(singleAnnotation.timelineActual)">
                        <small class="small faint">Timeline: {{singleAnnotation.timelineActual}}</small>
                        <span class="small">{{singleAnnotation.description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <span>&nbsp;</span>
    </div>

</div>
<div ng-include="'components/footer/footer.html'"></div>
