<div id="interview">

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">

				<div class="page-header">
					<h1>{{title}}
						<div>
	            <small ng-hide="startInterview && !processInterview"><span>{{description}}</span></small>
						</div>

					</h1>
				</div>

			</div>
		</div>
	</div>



	<!--  -->
	<div class="container">

	  <!-- View yourself & replaced by prompt at start of user interface-->
	  <div class="row clearfix">

			<div class="col-md-2 column">

				<ul class="list-group question-blocks" ng-repeat="question in questions" ng-hide="instructions">
					<li class="list-group-item list-group-item-info" ng-click="showInstructions(question, $index)">Q.{{$index +1}} Status</li>
					<li class="list-group-item"
					ng-class="{'list-group-item-success': question.responseStatus === 'Attempted'}"
					ng-click="showInstructions(question, $index)">{{question.responseStatus}}</li>
					<li class="list-group-item"
					ng-class="{'list-group-item-success': question.peerReviewStatus === 'Peer Reviewed'}"
					ng-click="showInstructions(question, $index)">{{question.peerReviewStatus}}</li>
				</ul>
			</div>

			<div class="col-md-8 column">
				<!-- alert box -->
				<div class="col-md-offset-2 col-md-8 column" ng-show="instructions">
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<div class="text-center">
							<h4>Instructions!</h4>
							<span id="facetime-small" class="glyphicon glyphicon-facetime-video"
							ng-click="changeProcessInterviewStatus()"></span>
						</div>
						<div class="text-center">
							<strong>Q.{{questionSelectedIndex}}</strong> is about to begin.<br />
							<strong></strong> Try to keep your answers to less than 1 minute.<br />
							<strong></strong> Notifications will be given every 30 seconds.<br /><br />
							<strong></strong> Good Luck !<br /><br />
						</div>
						<div class="text-center">
							<!-- <button type="button" class="btn btn-success" ng-click="changeInterviewStatus()">Begin Interview!</button> -->

							<button type="button" class="btn btn-success" ng-click="questionSelected()">Start</button>
							<a href="/interview"><button class="btn btn-info">Cancel</button></a>
						</div>
					</div>
				</div>

	      <!--  View yourself -->
	      <div id="box1"
					ng-show="!startPrompt && !startInterview && !instructions">
					<!-- Intended to show a preview of yourself so that you can see
					     what you look like before the interview. -->
					<video id="video-preview"></video>
					<p><span>&nbsp;</span></p>
					<p><span id="userAlert">Camera and mic check. We're not recording yet.</span></p>
					<p><span id="userAlert">You will see yourself once connected.</span></p>

					<!-- Press to start recording yourself -->
					<button class="btn btn-success"
						ng-show="!startInterview && !startPrompt && !processInterview && !instructions"
						ng-click="showInstructions()">Begin Interview</button>
					<a href="/home">
						<button class="btn btn-info"
						ng-show="!startInterview && !startPrompt && !processInterview && !instructions">Return Home</button>
					</a>

				</div>

	    </div>
			<div class="col-md-2 column"></div>

	  </div>


</div>
